.mainContainer{
    padding: 10mm;
    padding-bottom: 20mm;
}

.rightContainer{
    width: 75%;
    float: right;
    
}

.leftContainer{
    width: 15%;
    float: left;
    background-color: brown;
    padding: 20mm;
}

.point{
    color: darkblue;
    font-weight: bold;
}

.peek{
    font-weight: bold;
    color: chartreuse;
}
hr{
    color: rgb(77, 7, 206);
}